@media screen and  (max-width: 768px) {
  .layout__isMobile {
    display: flex;
    flex-direction: column;
  }
  .isMobile {
    border-bottom: 2px black solid;
  }
  .isMobile__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px 30px;
    text-align: center;
  }

}